<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">

    <!-- title of site -->
    <title>April Savoy, PHD</title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="logo/favicon.png" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!--academicons.css-->
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">

    <!--flat icon css-->
    <link rel="stylesheet" href="css/flaticon.css">

    <!--animate.css-->
    <link rel="stylesheet" href="css/animate.css">

    <!--owl.carousel.css-->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- bootsnav -->
    <link rel="stylesheet" href="css/bootsnav.css">

    <!--style.css-->
    <link rel="stylesheet" href="css/style.css">

    <!--responsive.css-->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <div class="wrapper">
    
    <!-- top-area Start -->
    <header class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

                <div class="container">

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/index">april savoy, PHD</a>
                    </div>
                    <!--/.navbar-header-->
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class=" smooth-menu active"></li>
                            <li class=" smooth-menu"><a href="#education">education</a></li>
                            <li class="smooth-menu"><a href="#skills">research</a></li>
                            <li class="smooth-menu"><a href="#blog">blog</a></li>
                            <li class="smooth-menu"><a href="#experience">experience</a></li>
                            <li class="smooth-menu"><a href="#portfolio">awards</a></li>
                            <li class="smooth-menu"><a href="#profiles">courses</a></li>
                            <li class="smooth-menu"><a href="#clients">affiliates</a></li>
                            <li class="smooth-menu"><a href="#contact">contact</a></li>
                            <li><a href="savoyresume.pdf" target="_blank">CV</a></li>
                        </ul>
                        <!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div>
                <!--/.container-->
            </nav>
            <!--/nav-->
            <!-- End Navigation -->
        </div>
        <!--/.header-area-->

        <div class="clearfix"></div>

    </header><!-- /.top-area-->
    <!-- top-area End -->

    <!--welcome-hero start -->
    <section id="welcome-hero" class="welcome-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="header-text">
                        <h2>april savoy<span>,</span> phd </h2>
                        <p>Researcher / Human Factors Engineer / Instructor / Mentor</p>
                        <a href="savoyresume.pdf" target="_blank">download CV</a>
                    </div>
                    <!--/.header-text-->
                </div>
                <!--/.col-->
            </div><!-- /.row-->
        </div><!-- /.container-->

    </section>
    <!--/.welcome-hero-->
    <!--welcome-hero end -->

    <!--about start -->
    <section id="about" class="about">
        <div class="section-heading text-center">
            <h2>about me</h2>
        </div>
        <div class="container">
            <div class="about-content">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="single-about-txt">
                            <p>
                                I'm an Assistant Professor of Computer Information and Technology at IUPUI campus. I am a Core Investigator in the VA HSR&amp;D Center for Health Information and Communication and Director of the Human-Computer Interaction &amp; Simulation Lab at the Richard L. Roudebush Veteran Affairs Medical Center in Indianapolis. As appointed Regenstrief Research Scientist in 2017, my research interests include the implementation of user-centered design to develop, evaluate, and integrate health information technologies that will increase efficiency of clinicians’ workflow, enhance care coordination, and improve the quality of healthcare delivery.
                            </p>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="single-about-add-info">
                                        <h3>phone</h3>
                                        <p>(317) 274-5555</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="single-about-add-info">
                                        <h3>email</h3>
                                        <p>asavoy@iu.edu</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="single-about-add-info">
                                        <h3>campus</h3>
                                        <p>IUPUI</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-md-offset-3 col-lg-offset-1 col-sm-8 col-md-6 col-lg-5">
                        <div class="single-about-img">
                            <img src="images/savoy-3.jpg" alt="April Savoy Profile Image">
                            <div class="about-list-icon">
                                <ul>
                                    <li>
                                        <a href="savoyresume.pdf" target="_blank">
                                            <i class="ai ai-cv" aria-hidden="true"></i>
                                        </a>
                                    </li><!-- / li -->
                                    <li>
                                        <a href="https://www.researchgate.net/profile/April_Savoy" target="_blank">
                                            <i class="ai ai-researchgate" aria-hidden="true"></i>
                                        </a>

                                    </li><!-- / li -->
                                    <li>
                                        <a href="https://scholar.google.com/citations?user=tkJ-XmcAAAAJ&hl=en&oi=sra" target="_blank">
                                            <i class="ai ai-google-scholar" aria-hidden="true"></i>
                                        </a>

                                    </li><!-- / li -->
                                    <li>
                                        <a href="https://www.linkedin.com/in/april-savoy-phd-5735212/" target="_blank">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li><!-- / li -->
                                    <li>
                                        <a href="mailto:asavoy@iu.edu" id="last-i">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </a>
                                    </li><!-- / li -->


                                </ul><!-- / ul -->
                            </div><!-- /.about-list-icon -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/.about-->
    <!--about end -->

    <!--education start -->
    <section id="education" class="education">
        <div class="section-heading text-center">
            <h2>education</h2>
        </div>
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <a class="timeline">
                            <div class="timeline-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">PhD &middot; 2008</h3>
                                <p class="description">
                                    <strong>Purdue University &middot; Doctorate of Philosophy, Industrial Engineering </strong> &middot; Human Computer Interaction Research Program &middot; West Lafayette, IN
                                </p>
                            </div>
                        </a>
                        <a class="timeline">
                            <div class="timeline-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">MS &middot; 2004</h3>
                                <p class="description">
                                    <strong>Purdue University &middot; Masters of Science, Computer Science</strong> &middot; West Lafayette, IN

                                    <!--- Fixes weird layout issue when not enough content is displayed - Template issue--> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </a>
                        <a class="timeline">
                            <div class="timeline-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">BS &middot; 2002</h3>
                                <p class="description">
                                    <strong>Xavier University of Louisiana &middot; Bachelors of Science, Computer Science</strong> &middot; New Orleans, LA

                                    <!--- Fixes weird layout issue when not enough content is displayed - Template issue--> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>

    </section>
    <!--/.education-->
    <!--education end -->

    <!--research start -->
    <section id="skills" class="skills">
        <div class="skill-content">
            <div class="section-heading text-center">
                <h2>research interests</h2>
            </div>
            <br><br>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="fancy-collapse-panel">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                
                           
                                <div class="panel-default">
                                   
                                        <!-- start column half -->
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <div class="card-list card-list-hover" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                           Assessing Health Information Technology’s Impact on Physician Communication During Care Coordination
                                            
                                        </h4>
                                            </div></a>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="pub-list publist-1 text-center">
                                                <ul>
                                                    <li>Holden, R., Voida, S., <strong>Savoy, A.</strong>, Jones, J. &amp; Kulanthaivel, A. (2016). Human Factors Engineering and Human–Computer Interaction: Supporting User Performance and Experience. In Clinical Informatics Study Guide: Springer International Publishing. </li>
                                                    <li>Onal, E., <strong>Savoy, A.</strong>, and McDonald, S. (2012, July). Augmented navigation: A cognitive approach. In K. M. Stanney &amp; K. S. Hale (Eds.), Advances in Cognitive Engineering and Neuroergonomics(13-22). Boca Raton, FL: CRC Press. </li>
                                                    <li>Liao, H., Guo, Y., <strong>Savoy, A.</strong>, and Salvendy, G. (2009). Content preparation guidelines for the web and information appliances: Cross-cultural comparisons. Boca Raton, FL: CRC Press. </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <!-- end column half -->

                                
                                 <!-- start column half -->
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                   <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <div class="card-list card-list-hover" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            Engineering Electronic Health Record User Interfaces’ to Increase Situation Awareness
                                            
                                        </h4>
                                    </div></a>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <div class="pub-list publist-1">
                                                <ul>
                                                    <li>Holden, R., Voida, S., <strong>Savoy, A.</strong>, Jones, J. &amp; Kulanthaivel, A. (2016). Human Factors Engineering and Human–Computer Interaction: Supporting User Performance and Experience. In Clinical Informatics Study Guide: Springer International Publishing. </li>
                                                    <li>Onal, E., <strong>Savoy, A.</strong>, and McDonald, S. (2012, July). Augmented navigation: A cognitive approach. In K. M. Stanney &amp; K. S. Hale (Eds.), Advances in Cognitive Engineering and Neuroergonomics(13-22). Boca Raton, FL: CRC Press. </li>
                                                    <li>Liao, H., Guo, Y., <strong>Savoy, A.</strong>, and Salvendy, G. (2009). Content preparation guidelines for the web and information appliances: Cross-cultural comparisons. Boca Raton, FL: CRC Press. </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                   
                                    <br>

                                        <!-- start column half -->
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                   <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <div class="card-list card-list-hover" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            Usability Evaluation of Health Information Technology: Emphasizing Cognitive Requirements for Decision Making

                                           
                                        </h4>
                                    </div> </a>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <div class="pub-list publist-1">
                                                <ul>
                                                    <li>Holden, R., Voida, S., <strong>Savoy, A.</strong>, Jones, J. &amp; Kulanthaivel, A. (2016). Human Factors Engineering and Human–Computer Interaction: Supporting User Performance and Experience. In Clinical Informatics Study Guide: Springer International Publishing. </li>
                                                    <li>Onal, E., <strong>Savoy, A.</strong>, and McDonald, S. (2012, July). Augmented navigation: A cognitive approach. In K. M. Stanney &amp; K. S. Hale (Eds.), Advances in Cognitive Engineering and Neuroergonomics(13-22). Boca Raton, FL: CRC Press. </li>
                                                    <li>Liao, H., Guo, Y., <strong>Savoy, A.</strong>, and Salvendy, G. (2009). Content preparation guidelines for the web and information appliances: Cross-cultural comparisons. Boca Raton, FL: CRC Press. </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                   
                                   

                                        <!-- start column half -->
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree"><div class="card-list card-list-hover" role="tab" id="headingFour">
                                        <h4 class="panel-title">
                                            Assessing the Impact of Mobile Technology-Integrated Clinical Workflows

                                           
                                        </h4>
                                    </div> </a>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="panel-body">
                                            <div class="pub-list publist-1">
                                                <ul>
                                                    <li>Holden, R., Voida, S., <strong>Savoy, A.</strong>, Jones, J. &amp; Kulanthaivel, A. (2016). Human Factors Engineering and Human–Computer Interaction: Supporting User Performance and Experience. In Clinical Informatics Study Guide: Springer International Publishing. </li>
                                                    <li>Onal, E., <strong>Savoy, A.</strong>, and McDonald, S. (2012, July). Augmented navigation: A cognitive approach. In K. M. Stanney &amp; K. S. Hale (Eds.), Advances in Cognitive Engineering and Neuroergonomics(13-22). Boca Raton, FL: CRC Press. </li>
                                                    <li>Liao, H., Guo, Y., <strong>Savoy, A.</strong>, and Salvendy, G. (2009). Content preparation guidelines for the web and information appliances: Cross-cultural comparisons. Boca Raton, FL: CRC Press. </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    
                                    
                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

               
                <div class="text-center">
                    <br><br><br><br>
                <section>
                    <div class="text-center">
                <h2 style="font-size:24px;font-weight: 600;text-transform: uppercase;padding-bottom: 50px;">Publications</h2>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6"><a href="https://www.researchgate.net/profile/April_Savoy" target="_blank" style="color:#69527a"><i class="ai ai-researchgate" style="font-size: 55px;"></i></a></div>
                        <!--/li-->
                    <div class="col-sm-6 col-md-6 col-lg-6"><a href="https://scholar.google.com/citations?user=tkJ-XmcAAAAJ&hl=en&oi=sra" target="_blank" style="color:#69527a"><i class="ai ai-google-scholar" style="font-size: 55px;"></i></a></div>
                        <!--/li-->
                    
                    </section>
                    <!--/ul-->
                </div>


            </div>
        </div>

    </section>
    <!--/.research-->
    <!--research end -->

    <!--blog start -->
    <section id="blog" class="profiles">
        <div class="profiles-details">
            <div class="section-heading text-center">
                <h2>blog</h2>
            </div>
            <br><br><br><br>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 post-body" style="height:100%">
                        <div class="post" style="height:600px">
                            <div class="post-img-content">
                                <img src="<%= data[0].image %>" style="max-width:100%;max-height:100%" />
                                <span class="post-title"><b><%= data[0].title %></b></span>
                            </div>
                            <div class="content">
                                <div class="author">
                                    By <b>April Savy</b> |
                                    <time datetime="2014-01-20"><%= data[0].submitDate %></time>
                                </div>
                                <div>
                                    <p><%= data[0].subtitle %></p>
                                </div>
                                <div>
                                    <br>
                                    <a href="posts/<%= data[0].id %>"><button type="button" class="btn btn-primary single-contact-btn">Read More</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 post-body">
                        <div class="post" style="height:600px">
                            <div class="post-img-content">
                                <img src="<%= data[1].image %>" class="img-responsive" style="max-width:100%;max-height:100%" />
                                <span class="post-title"><b><%= data[1].title %></b></span>
                            </div>
                            <div class="content">
                                <div class="author">
                                    By <b>April Savoy</b> |
                                    <time datetime="2014-01-20"><%= data[1].submitDate %></time>
                                </div>
                                <div>
                                    <p><%= data[1].subtitle %></p>
                                </div>
                                <div>
                                    <br>
                                    <a href="posts/<%= data[1].id %>"><button type="button" class="btn btn-primary single-contact-btn">Read More</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 post-body">
                        <div class="post" style="height:600px">
                            <div class="post-img-content" >
                                <img src="<%= data[2].image %>" class="img-responsive" style="max-width:100%;max-height:100%" />
                                <span class="post-title"><b><%= data[2].title %></b></span>
                            </div>
                            <div class="content">
                                <div class="author">
                                    By <b>April Savoy</b> |
                                    <time datetime="2014-01-20"><%= data[2].submitDate %></time>
                                </div>
                                <div>
                                    <p><%= data[2].subtitle %></p>
                                </div>
                                <div >
                                    <br>
                                    <a href="posts/<%= data[2].id %>"><button type="button" class="btn btn-primary single-contact-btn">Read More</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <br>
                <div class="pull-right">
                    <a href="/allposts"><button type="button" class="btn btn-primary single-contact-btn">More Content</button></a>
                </div>
            </div>

        </div>

    </section>
    <!--/.profiles-->
    <!--profiles end -->


    <!--experience start -->
    <section id="experience" class="experience">
        <div class="section-heading text-center">
            <h2>experience</h2>
        </div>
        <div class="container">
            <br><br><br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <a class="timeline">
                            <div class="timeline-icon"><i class="fa fa-book"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Assistant Professor &middot; 2018+</h3>
                                <p class="description">
                                    School of Engineering and Technology &middot; Indiana University Purdue University Indianapolis &middot; Indianapolis, Indiana

                                    <!--- Fixes weird layout issue when not enough content is displayed - Template issue--> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </a>
                        <a class="timeline">
                            <div class="timeline-icon"><i class="fa fa-stethoscope"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Director of HCI and Simulation Lab &middot; 2014+</h3>
                                <p class="description">
                                    Richard L. Roudebush Veterans Affairs Medical Center for Health Information and Communication &middot; Indianapolis, Indiana
                                </p>
                            </div>
                        </a>
                        <a class="timeline">
                            <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Asst. Prof. &amp; Director of Informatics &middot; 2012+</h3>
                                <p class="description">
                                    School of Business and Economics &middot; Indiana University East &middot; Richmond, Indiana

                                    <!--- Fixes weird layout issue when not enough content is displayed - Template issue--> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!--/.experience-->
    <!--experience end -->

    <!--awards start -->
    <section id="portfolio" class="portfolio">
        <div class="portfolio-details">
            <div class="section-heading text-center">
                <h2>awards</h2>
            </div>
            <div class="container">
                <div class="portfolio-content">
                    <div class="isotope">
                        <div class="row">

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="item">
                                    <img src="images/photoshop/regenstrief-logo-800-600.png" alt="portfolio image" />
                                    <div class="isotope-overlay">
                                        <a>
                                            Regenstrief Scientist<br>2017, Regenstrief Institute
                                        </a>
                                    </div><!-- /.isotope-overlay -->
                                </div><!-- /.item -->
                            </div><!-- /.col -->

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="item">
                                    <img src="images/photoshop/iimr-logo-800-600.jpg" alt="portfolio image" />
                                    <div class="isotope-overlay">
                                        <a>
                                            Young Investigator Award<br>2016, Indiana Institute for Medical Research
                                        </a>
                                    </div><!-- /.isotope-overlay -->
                                </div><!-- /.item -->
                            </div><!-- /.col -->

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="item">
                                    <img src="images/photoshop/purdue-black-graduate-association-800-600.jpg" alt="portfolio image" />
                                    <div class="isotope-overlay">
                                        <a>
                                            Purdue Alumni Excellence Award<br>2015, Purdue Black Graduate Student Association
                                        </a>
                                    </div><!-- /.isotope-overlay -->
                                </div><!-- /.item -->
                            </div><!-- /.col -->

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="item">
                                    <img src="images/photoshop/sony_logo-800-600.jpg" alt="portfolio image" />
                                    <div class="isotope-overlay">
                                        <a>
                                            Sony Scholar Award<br>2014, Sony Corporation of America
                                        </a>
                                    </div><!-- /.isotope-overlay -->
                                </div><!-- /.item -->
                            </div><!-- /.col -->

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="item">
                                    <img src="images/photoshop/DeltaMuDelta-logo-800-600.jpg" alt="portfolio image" />
                                    <div class="isotope-overlay">
                                        <a>
                                            Honorary Member<br>2014, Delta Mu Delta
                                        </a>
                                    </div><!-- /.isotope-overlay -->
                                </div><!-- /.item -->
                            </div><!-- /.col -->

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="item">
                                    <img src="images/photoshop/academy-business-research-800-600.jpg" alt="portfolio image" />
                                    <div class="isotope-overlay">
                                        <a>
                                            Best Presentation Award<br>2013, Academy Business Research International Conference
                                        </a>
                                    </div><!-- /.isotope-overlay -->
                                </div><!-- /.item -->
                            </div><!-- /.col -->

                        </div><!-- /.row -->
                    </div>
                    <!--/.isotope-->
                </div>
                <!--/.gallery-content-->
            </div>
            <!--/.container-->
        </div>
        <!--/.portfolio-details-->

    </section>
    <!--/.portfolio-->
    <!--portfolio end -->

    <!--courses start -->
    <section id="profiles" class="profiles">
        <div class="profiles-details">
            <div class="section-heading text-center">
                <h2>courses</h2>
            </div>
            <br><br><br><br>

            <div class="container">

                <div class="row flex-courses">
                    <!-- Card -->
                    <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="card-list">

                            <!-- Card image -->
                            <a href="http://engr.iupui.edu/departments/cigt/courses/cit/37400.php" target="_blank"><img class="card-img-top" src="images/agile.png" alt="Card image cap"></a>

                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Title -->
                                <h4 class="card-title"><a href="http://engr.iupui.edu/departments/cigt/courses/cit/37400.php" target="_blank">CIT-374 Systems and Database Analysis</a></h4>
                                <!-- Text -->
                                <p class="card-text">Intensive exploration of application and database analysis in a synergistic environment. Students engage in collaborative, project-based activities to learn about project management, requirement analysis, modeling, and prototyping employing problem solving and team building skills. Object-oriented and data modeling tools are used to apply class concepts.</p>
                                <!-- Button -->

                            </div>
                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="card-list">

                            <!-- Card image -->
                            <a href="https://soic.iupui.edu/courses/info-i101/" target="_blank"><img class="card-img-top" src="images/informatics.jpg" alt="Card image cap"></a>

                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Title -->
                                <h4 class="card-title"><a href="https://soic.iupui.edu/courses/info-i101/" target="_blank">INFO-I 101 Introduction to Informatics</a></h4>
                                <!-- Text -->
                                <p class="card-text">Computer literacy. Problem solving with information technology; introduction to information representation, relational databases, system design, propositional logic, cutting edge technologies; CPU, operating systems, networks; laboratory emphasizing information technology including webpage design, word processing, and databases using tools available on campus.</p>
                                <!-- Button -->

                            </div>

                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-4">

                        <div class="card-list">

                            <!-- Card image -->
                            <a href="https://soic.iupui.edu/courses/info-i202/" target="_blank"><img class="card-img-top" src="images/social-informatics-2.jpg" alt="Card image cap"></a>

                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Title -->
                                <h4 class="card-title"><a href="https://soic.iupui.edu/courses/info-i202/" target="_blank">INFO-I 202 Social Informatics</a></h4>
                                <!-- Text -->
                                <p class="card-text">Introduction to key social research perspectives and literatures on the use of information and communication technologies. Discusses current topics such as information ethics, relevant legal frameworks, popular and controversial uses of technology e.g. peer-to-peer file sharing, digital divides, etc. Outlines research methodologies for social informatics.</p>
                                <!-- Button -->

                            </div>

                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-4">

                        <div class="card-list">

                            <!-- Card image -->
                            <a href="https://soic.iupui.edu/courses/info-i300/" target="_blank"><img class="card-img-top" src="images/social-informatics.jpg" alt="Card image cap"></a>

                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Title -->
                                <h4 class="card-title"><a href="https://soic.iupui.edu/courses/info-i300/" target="_blank">INFO-I 300 Human Computer Interaction &amp; Interface Design</a></h4>
                                <!-- Text -->
                                <p class="card-text">The analysis of human factors and the design of computer application interfaces. A survey of current HCI designs with an eye toward what future technologies will allow. The course will emphasize learning HCI based on implementation and testing interfaces.</p>
                                <!-- Button -->

                            </div>

                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-4">

                        <div class="card-list">

                            <!-- Card image -->
                            <a href="https://soic.iupui.edu/courses/info-i400/" target="_blank"><img class="card-img-top" src="images/computer.jpg" alt="Card image cap"></a>

                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Title -->
                                <h4 class="card-title"><a href="https://soic.iupui.edu/courses/info-i400/" target="_blank">INFO-I 400 Informatics Special Topics</a></h4>
                                <!-- Text -->
                                <p class="card-text">This course focuses on the examination of principles of human-computer interaction (HCI) and user experience modeling. Students will learn about user-centered design, usability, and usability testing in the context of digital media (e.g., web sites, mobile applications). Topics covered in the course include aesthetics, human factors, and cognitive psychology as related to user interfaces, navigation, and interactivity.</p>
                                <!-- Button -->

                            </div>

                        </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-4">

                        <div class="card-list">

                            <!-- Card image -->
                            <a href="https://soic.iupui.edu/courses/info-i491/" target="_blank"><img class="card-img-top" src="images/capstone.jpg" alt="Card image cap"></a>

                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Title -->
                                <h4 class="card-title"><a href="https://soic.iupui.edu/courses/info-i491/" target="_blank">INFO-I 491 Capstone Project &amp; Internship</a></h4>
                                <!-- Text -->
                                <p class="card-text">Students culminate their course studies through practical application of concepts and practices working in industry. Course requires prior authorization and approval of internship through the Career Se
                                    rvices Office. Required coursework is completed via Oncourse.</p>
                                <!-- Button -->

                            </div>

                        </div>

                    </div><br>
                    <!-- Card -->
                </div>

            </div>

        </div>

    </section>
    <!--/.profiles-->
    <!--profiles end -->

    <!--clients start -->
    <section id="clients" class="clients hidden-xs">
        <div class="section-heading text-center">
            <h2>professional affiliations</h2>
        </div>
        <div class="clients-area">
            <div class="container">
                <div class="owl-carousel owl-theme" id="client">
                    <div class="item">
                        <a href="#">
                            <img src="images/affiliates/amia-logo.png" alt="brand-image" />
                        </a>
                    </div>
                    <!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="images/affiliates/himss-logo.png" alt="brand-image" />
                        </a>
                    </div>
                    <!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="images/affiliates/acm.png" alt="brand-image" />
                        </a>
                    </div>
                    <!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="images/affiliates/human-factors-logo-png.png" alt="brand-image" />
                        </a>
                    </div>
                    <!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="images/affiliates/women-engineering-logo.png" alt="brand-image" />
                        </a>
                    </div>
                    <!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="images/affiliates/nsbe-logo.png" alt="brand-image" />
                        </a>
                    </div>
                    <!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="images/affiliates/cswm-logo.png" alt="brand-image" />
                        </a>
                    </div>
                    <!--/.item-->
                    <div class="item">
                        <a href="#">
                            <img src="images/affiliates/alpha-pi-mu-png.png" alt="brand-image" />
                        </a>
                    </div>
                    <!--/.item-->
                </div>
                <!--/.owl-carousel-->
                <br>
                <p class="pull-right" style="color: mediumpurple;">Click & Drag For More</p>
            </div>
            <!--/.container-->
        </div>
        <!--/.clients-area-->

    </section>
    <!--/.clients-->

    <!--contact start -->
    <section id="contact" class="contact">
        <div class="section-heading text-center">
            <h2>contact me</h2>
        </div>
        <div class="container">
            <div class="contact-content">
                <div class="row">
                   
                    <!--/.col-->
                    <div class=" col-md-12 col-sm-12" style="text-align:center" >
                        <div class="single-contact-box">
                            <div class="contact-adress">
                                <div class="contact-add-head">
                                    <h3>april savoy</h3>
                                    <p>Human Factors Engineer</p>
                                </div>
                                <div class="contact-add-info">
                                    <div class="single-contact-add-info">
                                        <h3>phone</h3>
                                        <p>(317) 274-5555</p>
                                    </div>
                                    <div class="single-contact-add-info">
                                        <h3>email</h3>
                                        <p>asavoy@iu.edu</p>
                                    </div>
                                    <div class="single-contact-add-info">
                                        <h3>campus</h3>
                                        <p>IUPUI</p>
                                    </div>
                                </div>
                            </div>
                            <!--/.contact-adress-->
                            <div class="hm-foot-icon" style="display:inline-block;">
                                <ul>
                                    <li><a href="savoyresume.pdf" target="_blank"><i class="ai ai-cv"></i></a></li>
                                    <!--/li-->
                                    <li><a href="https://www.researchgate.net/profile/April_Savoy" target="_blank"><i class="ai ai-researchgate"></i></a></li>
                                    <!--/li-->
                                    <li><a href="https://scholar.google.com/citations?user=tkJ-XmcAAAAJ&hl=en&oi=sra" target="_blank"><i class="ai ai-google-scholar"></i></a></li>
                                    <!--/li-->
                                    <li><a href="https://www.linkedin.com/in/april-savoy-phd-5735212/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    <!--/li-->
                                    <li><a href="mailto:asavoy@iu.edu"><i class="fa fa-envelope"></i></a></li>
                                    <!--/li-->
                                </ul>
                                <!--/ul-->
                            </div>
                            <!--/.hm-foot-icon-->
                        </div>
                        <!--/.single-contact-box-->
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
            </div>
            <!--/.contact-content-->
        </div>
        <!--/.container-->

    </section>
    <!--/.contact-->
    <!--contact end -->

    <!--footer-copyright start-->
    <footer id="footer-copyright" class="footer-copyright">
        <div class="container">
            <div class="hm-footer-copyright text-center">
                <p>
                    &copy; copyright April Savoy.</a>
                </p>
                <!--/p-->
            </div>
            <!--/.text-center-->
        </div>
        <!--/.container-->

        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top"></i>
            </div>

        </div>
        <!--/.scroll-Top-->

    </footer>
    <!--/.footer-copyright-->
    <!--footer-copyright end-->
        
    </div>

    <!-- Include all js compiled plugins (below), or include individual files as needed -->

    <script src="js/jquery.js"></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="js/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="js/bootsnav.js"></script>

    <!-- jquery.sticky.js -->
    <script src="js/jquery.sticky.js"></script>

    <!-- for progress bar start-->

    <!-- progressbar js -->
    <script src="js/progressbar.js"></script>

    <!-- appear js -->
    <script src="js/jquery.appear.js"></script>

    <!-- for progress bar end -->

    <!--owl.carousel.js-->
    <script src="js/owl.carousel.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


    <!--Custom JS-->
    <script src="js/custom.js"></script>

</body>

</html>